body,
html {
    font-family: "work sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    background-size: cover;
    background-color: #000000;
}

.nav-head {
    width: 100%;
    z-index: 1;
}
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.navbar {
    background-color: #000000;
}

.navbar-brand {
    font-size: 20px;
    color: rgba(255, 255, 255, .4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-image: url(../images/logo-bg.jpg);
    background-position: center;
    background-size: cover;
}

.font-change {
    font-size: 15px;
    color: rgba(255, 255, 255, .4);
}

.ft-change {
    font-size: 15px;
    color: #ff0000 !important;
}

.hero-wrap {
    height: 657px;
    width: 100%;
    position: relative;
    z-index: 0;
}

.hero-wrap .overlay {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    content: '';
    background: #000;
    opacity: 1;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../images/bg_2.jpg);
    background-position: 50% 0px;
}

.hero-wrap:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    content: '';
    background: #000;
    opacity: 1;
    z-index: -1;
}

.slider-text {
    height: 657px;
}

.hero-wrap .slider-text h3.v {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-orientation: sideways;
    text-orientation: sideways;
    margin: 0;
    position: absolute;
    top: 0;
    right: 40px;
    height: 70%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 14px;
    z-index: 9;
}

.hero-wrap .slider-text h3.v a {
    color: #fff;
    position: relative;
}

.hero-wrap .slider-text h3.v a .icon {
    position: absolute;
    left: -5px;
    top: -70px;
    width: 50px;
    height: 50px;
    border: 1px solid red;
    animation: pulse 2s infinite;
}

.hero-wrap .slider-text h3.v a .icon span {
    color: red;
}

.hero-wrap .slider-text h3.v a span {
    font-size: 12px;
    font-weight: 600;
    color: rgba(255, 255, 255, .3);
}

[class^=icon-],
[class*=" icon-"] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.hero-wrap .slider-text h3.v a span {
    font-size: 12px;
    font-weight: 600;
    color: rgba(255, 255, 255, .3);
}

.hero-wrap .slider-text h1 {
    font-size: 300px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    line-height: .8;
    overflow: hidden;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
    background-position: -9% 1px;
    background-image: url(../images/bg_1.jpg);
}

.hero-wrap .slider-text h2 {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
}

.sub-heading {
    display: inline-block;
    color: red;
    line-height: 1;
    z-index: 1;
    text-transform: uppercase;
    font-size: 13px;
    background: linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    position: relative;
}

.course-section .sub-heading .db-left {
    top: -5px;
    left: -15px;
    margin-left: 0px;
}

.course-section .sub-heading .db-left:before {
    position: absolute;
    top: 2px;
    left: -16px;
    width: 5px;
    height: 18px;
    content: '';
    background: linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
}

.course-section .sub-heading .db-left:after {
    position: absolute;
    left: -8px;
    width: 5px;
    height: 22px;
    content: '';
    background: linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
}

.course-section .sub-heading i {
    position: absolute;
    width: 5px;
    height: 22px;
    content: '';
    background: linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
    display: block;
}

.course-section .sub-heading .db-right {
    top: -5px;
    right: -15px;
    margin-right: -8px;
}

.course-section .sub-heading .db-right:after {
    position: absolute;
    top: 2px;
    left: 8px;
    width: 5px;
    height: 18px;
    content: '';
    background: linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
}

.course-section .sub-heading .db-right:before {
    position: absolute;
    left: -8px;
    width: 5px;
    height: 22px;
    content: '';
    background: linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
}

.pricing-text {
    font-size: 34px;
}

.pricing-paragraph {
    font-size: 15px;
    color: rgba(255, 255, 255, .3);
}

.card-img {
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.card-img-one {
    background-image: url(../images/program-1.jpg);
}

.card-img-two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/program-2.jpg);
    border: 1px solid red;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.card-img-three {
    background-image: url(../images/program-3.jpg);
}

.desc-course-one {
    bottom: 0;
}

.desc-course {
    bottom: 0;
    transform: translateY(38px);
}

.price {
    font-size: 34px;
    background: linear-gradient(45deg, #ff0055 100%, #ff6600 0%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    opacity: 0;
}

.price-one {
    font-size: 34px;
    background: linear-gradient(45deg, #ff0055 100%, #ff6600 0%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.far-paragraph {
    font-size: 15px;
    color: rgba(255, 255, 255, .4);
}

.btn-custom {
    font-size: 15px;
    background: linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
    position: absolute;
    right: 0;
}

.btn-custom-one {
    font-size: 15px;
    background: linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
    position: absolute;
    right: 0;
    opacity: 0;
}

.designer-card:hover .btn-custom-one {
    opacity: 1;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.designer-card:hover .desc-course {
    transform: translateY(0px);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.designer-card:hover .price {
    opacity: 1;
}

.designer-card:hover .card-img-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/program-1.jpg);
}

.designer-card:hover .card-img-three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/program-3.jpg);
}

.designer-card {
    border: 1px solid black;
}

.designer-card:hover {
    border: 1px solid red;
}

.person-one {
    height: 700px;
    background-image: url(../images/bg_2-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.circle-icon {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
}

.icon-flat {
    font-size: 40px;
}

.aerobic-paragraph {
    font-size: 15px;
    color: rgba(255, 255, 255, .4);
    line-height: 27px;
}

.aerobic-h3 {
    font-size: 20px;
}

.number {
    font-size: 50px;
}

.customer {
    background: linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
    font-size: 16px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.gym-boy-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../images/bg_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.trainer1-img {
    background-image: url(../images/trainer-1.jpg);
}

.trainer2-img {
    background-image: url(../images/trainer-2.jpg);
}

.trainer3-img {
    background-image: url(../images/trainer-3.jpg);
}

.trainer4-img {
    background-image: url(../images/trainer-4.jpg);
}

.trainer-all {
    height: 500px;
    width: 290px;
    background-size: cover;
    background-position: center;
}

.sub-head-coach {
    background: linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
    font-size: 16px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.person-h3 {
    font-size: 26px;
}

.person-p {
    font-size: 15px;
    color: rgba(255, 255, 255, .4);
    line-height: 27px;
}

.icon-list-color {
    height: 55px;
    width: 50px;
    background: linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
    font-size: 24px;
}

.push-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../images/bg_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.testimotional-p {
    font-size: 15px;
    color: rgba(255, 255, 255, .7);
    line-height: 27px;
    padding: 0px 150px;
}

.name-scott {
    font-size: 18px;
    margin: 0;
}

.person-radius {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(../images/person_1.jpg);
    background-position: top;
    background-size: contain;
}

.blog-body {
    background-color: #000;
}

.workout-head {
    font-size: 17px;
}

.work-p {
    font-size: 15px;
    color: rgba(255, 255, 255, .4);
    line-height: 27px;
}

.power-p {
    font-size: 15px;
    color: rgba(255, 255, 255, .7);
    line-height: 27px;
}

.day {
    background: linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
    font-size: 44px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.time {
    font-size: 15px;
    color: rgba(255, 255, 255, .4);
}

.yr {
    letter-spacing: 3px;
}

.appointment-p {
    font-size: 15px;
    color: rgba(255, 255, 255, .4);
    line-height: 25px;
    padding-right: 80px;
}

.appointment-h2 {
    font-size: 34px;
}

.btn-apn {
    border: 1px solid red;
    background: linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
    padding: 0px 80px;
}

.form-control {
    width: 250px;
    border-style: none;
    background: 0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, .2)!important;
}

.gym-pic {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.gym-pic-one {
    background-image: url(../images/gallery-1.jpg);
}

.gym-pic-two {
    background-image: url(../images/gallery-2.jpg);
}

.gym-pic-three {
    background-image: url(../images/gallery-3.jpg);
}

.gym-pic-four {
    background-image: url(../images/gallery-4.jpg);
}

.gym-pic .icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    z-index: 0;
    opacity: 0;
    position: relative;
    transition: all .6s ease;
    opacity: 0;
}

.gym-pic .icon:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    content: '';
    background: red;
    z-index: -1;
    transform: rotate(135deg);
}

.gym-pic:hover .icon,
.gym-pic:focus .icon {
    opacity: 1;
    transform: rotate(360deg);
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.name-df-head {
    font-size: 16px;
}

.ft-p {
    font-size: 15px;
    color: rgba(255, 255, 255, .4);
    line-height: 27px;
}

.icon-awesome {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #0D0D0D;
}

.iconic {
    font-size: 24px;
}

.bg-small {
    height: 100px;
    width: 100px;
    background-image: url(../images/image_1.jpg);
    background-size: contain;
    background-position: center;
}

.bg-small-one {
    height: 100px;
    width: 100px;
    background-image: url(../images/image_2.jpg);
    background-size: contain;
    background-position: center;
}

.meta-list {
    font-size: 12px;
    color: rgba(255, 255, 255, .4);
}

.cross-text {
    font-size: 16px;
    color: rgba(255, 255, 255, .7);
    line-height: 50px;
}

.same-text-cn {
    font-size: 16px;
    color: rgba(255, 255, 255, .7);
}

.ftco-p {
    color: rgba(255, 255, 255, .4);
}

.special-card {
    border-style: none;
}


/* Media Querey */

@media screen and (min-width: 1025px) and (max-width: 2560px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .person-one {
        height: 750px;
        background-position: center;
        background-size: cover;
    }
    .aerobic-paragraph {
        font-size: 14px;
        line-height: 24px;
    }
    .aerobic-h3 {
        font-size: 17px;
    }
    .circle-icon {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background: linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
    }
    /* .coach-head {
        padding-left: 63px !important;
    } */
    .person-h3 {
        font-size: 23px;
    }
    .person-p {
        font-size: 15px;
        line-height: 18px;
    }
    .icon-list-color {
        height: 30px;
        width: 30px;
        font-size: 20px;
    }
    .trainer-all {
        height: 500px;
        width: 240px;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {}

@media screen and (min-width: 375px) and (max-width: 425px) {}

@media screen and (min-width: 320px) and (max-width: 375px) {}